html {
    font-size: 62.5%; 
}

body {
    font-size: 1.4rem;
    margin: 0 auto;
    max-width: 50rem;
}

body > h2 {
    font-style: italic;
}

div > h2 {
    text-transform: capitalize;
    margin: 5rem 0 3rem 0;
}